
body{
  font-family: sans-serif;
  background-color: whitesmoke}


#next1{
    width: 66%;
    position: relative;
    Left: 250px;
}

  
  #omaha{
    color: red;
    text-align: center;
    text-decoration: underline;
  }

  a{
    display: block;
    text-align: right;
  }

  p{
    text-shadow: orangered 0px 5px
  }
  
  #ending{
    color: blueviolet
      }
   
  #food{
     border: none;
     padding:5px;
     margin-left: 99px;
     background-color: whitesmoke;
   }
  #food-sec {
    padding: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    border-color: red;
    text-shadow: 3px 3px 5px red;
    background-color: rgb(195, 190, 192);
    box-shadow: 5px 5px 10px red;
  }

  #food:hover{
    box-shadow: 3px 3px 5px rgb(240, 11, 11);
    padding-right: 10px;
    transition: 0.9s;
    cursor: pointer;
    padding-left: 10px;
  }
      
  #thingstodo:hover{
    box-shadow: 3px 3px 5px rgb(240, 11, 11);
    padding-right: 10px;
    transition: 0.9s;
    cursor: pointer;
    padding-left: 10px;
  }

  #thingstodo{
    border: none;
    padding: 5px;
    margin-left: 99px;
    background-color: whitesmoke;  
  }

  #thingstodo-sec {      
    padding: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    border-color: red;
    text-shadow: 3px 3px 5px red;
    background-color: rgb(195, 190, 192);
    box-shadow: 5px 5px 10px red ;
  }

  #hotels{
    border: none;
    padding:5px;
    margin-left: 99px;
    background-color: whitesmoke;
  }

  #hotels:hover {
    box-shadow: 3px 3px 5px rgb(240, 11, 11);
    padding-right: 10px;
    transition: 0.9s;
    cursor: pointer;
    padding-left: 10px;
  }

  #hotels-sec {
    border: none;
    padding: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    border-color: red;
    text-shadow: 3px 3px 5px red;
    background-color: rgb(195, 190, 192);
    box-shadow: 5px 5px 10px red ;
  }
       
#next2{
  width: 66%;
  position: relative;
  Left: 250px;

}
     #denver{
      color: orange;
      text-align: center;
      text-decoration: underline midnightblue}




    
#food3{
  border: none;
  padding:5px;
  margin-left: 99px;
  }
#food3:hover{
 box-shadow: 3px 3px 5px orange;
 padding-right: 10px;
 transition: 0.9s;
 cursor: pointer;
 padding-left: 10px;
}

 
 #thingstodo3:hover{
   box-shadow: 3px 3px 5px orange;
   padding-right: 10px;
   transition: 0.9s;
   cursor: pointer;
   padding-left: 10px;
 }
 #thingstodo3{
   border: none;
   padding: 5px;
   margin-left: 99px;
  
   
   
 }
 #thingstodo-sec3 {
   
   padding: 40px;
   font-weight: bold;
   margin-bottom: 24px;
   color: white;
   border-radius: 100px;
   border-color: orange;
  text-shadow: 3px 3px 5px orange;
  background-color: midnightblue;
  box-shadow: 5px 5px 10px orange;
   
 }

   
   #hotels3{
     border: none;
     padding:5px;
     margin-left: 99px;
     
     background-color:white;
    
   }
   #hotels3:hover {
     box-shadow: 3px 3px 5px orange;
     padding-right: 10px;
     transition: 0.9s;
     cursor: pointer;
     padding-left: 10px;
   }

   #hotels-sec3 {
     border: none;
     padding: 40px;
     font-weight: bold;
     margin-bottom: 24px;
     color: white;
     border-radius: 100px;
     border-color:orange;
    text-shadow:  3px 3px 5px orange;
    background-color:midnightblue;
    box-shadow: 5px 5px 10px orange;

   }






      

      

    


  




  

 
 

  


