body{
    font-family: sans-serif;
  background-color: whitesmoke
}

#GreatHotels{
  border: black;
  border-style: ridge;
  padding: 25px;
  margin-left: 150px;
  background-color: rgb(167, 167, 167);
  border-color: red;
  border-radius: 100px;
  font-style: italic;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }

#GreatHotels:hover{
  box-shadow: 10px 10px 15px rgb(100, 81, 81);
  padding-right: 10px;
  transition: 0.9s;
  cursor: pointer;
  padding-left: 10px;
  
}

#Hotels1{
  color: Black;
  font-stretch: bold;
}

#WestOmaha2{
  color: red;
  text-align: Left;
  width: 33%;
  position: relative;
  Left: 200px;
}

#WestOmaha22{
    color:black;
}

#MidTown2{
  color: red;
  text-align: left;
  width: 33%;
  position: relative;
  Left: 600px;
}

#MidTown22{
    color: black;
}

#OldMarket2{
  color: red;
  text-align: left;
  width: 33%;
  position: relative;
  Left: 1000px;
}

#OldMarket22{
    color: black;
}